<!doctype html>

<html>
<head><% include partials/template/head.ejs%></head>
<body>

<!--Navbar-->
<nav><% include partials/template/header.ejs%></nav>

<!--Front Page -->
<div ID= "mainpicture">
    <div class = "container blackbox">
        <div class="row frontpagemain"> 
            <div class ="row">
                <h1>TEXT TEXT TEXT!</h1>
            </div>
            <div class = "row">
                <div class= "col-lg-3 col-md-3 col-sm-3 hidden-xs text-center">   
                    <a href="search"><h2><span ID="bannertags"><span class="glyphicon glyphicon-search"></span> TEXT</span></h2></a>
                </div>
                <div class= "col-lg-3 col-md-3 col-sm-3 hidden-xs text-center">
                    <h2><span ID="bannertags"><span class="glyphicon glyphicon-calendar"></span> TEXT</span></h2>
                </div>
                <div class= "col-lg-3 col-md-3 col-sm-3 hidden-xs text-center">
                    <h2><span ID="bannertags"><span class="glyphicon glyphicon-eye-open"></span> TEXT</span></h2>
                </div>  
                <div class= "col-lg-3 col-md-3 col-sm-3 hidden-xs text-center">
                    <h2><span ID="bannertags"><span class="glyphicon glyphicon-pencil"></span> TEXT</span></h2>
                </div>
            </div>             

            <div class ="row">
                <ul ID="home_list">
                    <li><span style="font-size:200%;">NTEXT TEXT TEXT</span></li>
                    <li>$TEXT TEXT TEXT</li>
                    <li>STEXT TEXT TEXT</li>
                    <li>ATEXT TEXT TEXT</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Search Area -->
    <div class = "container blackbox frontpagemain">
        <div><% include partials/content/search_area.ejs%></div>
    </div>
</div>

    <!---TEXT -->
<div class ="container">
    <div class="frontpagemain">
        <div class ="row">
            <div class = "col-lg-12">
                <H2 ID="headline">Tenants</H2>

                <h3><span class="glyphicon glyphicon-ban-circle"></span> <u>TEXT TEXT TEXT</u></h3>
                <p>TEXT TEXT TEXT</p>
                <p></p>
                <p>TEXT TEXT TEXT</p> 
            </div>
            <!-- Old Image >
            <div class = "col-lg-5">    
                <img style="width: 50%; height: 50%; padding-top:8%" class="img-responsive img-rounded" src ="http://files.urbanedgeny.com/sites/urbanedgeny.com/files/No%20Brokers%20Fee.jpg">
            </div>
            -->
        </div>

        <div class = "row">
            <div class = "col-lg-12">
                <h3><span class="glyphicon glyphicon-eye-open"></span> <u>$TEXT TEXT TEXT</u></h3>
                <p>TEXT TEXT TEXT</p>
            </div>
        </div>

        <div class = "row">
            <div class = "col-lg-12">
                <h3><span class="glyphicon glyphicon-usd"></span> <u>TEXT TEXT TEXT</u></h3>
                <p>TEXT TEXT TEXT</p>
                <ul ID="About_list">
                    <li>TEXT TEXT TEXT.</li>
                    <li>TEXT TEXT TEXT</li>
                    <li>TEXT TEXT TEXT/li>
                </ul>
                <p>TEXT TEXT TEXT</p>
                <p>TEXT TEXT TEXT</p>
            </div>
        </div>
    </div>
</div>

<br>
<br>
    <!---TEXT -->
<div class = "container">
    <div class="frontpagemain">
        <div class ="row">
            <h2 ID="headline">TEXT TEXT TEXT</h2>
            <h3><span class="glyphicon glyphicon-star-empty"></span> <u>TEXT TEXT TEXT</u></h3>
            <ul ID="About_list">
                <li>TEXT TEXT TEXT</li>
            </ul>
            <h3><span class="glyphicon glyphicon-ban-circle"></span> <u>TEXT TEXT TEXT</u></h3>
            <ul ID="About_list">
                <li>TEXT TEXT TEXT</li>
                <li>TEXT TEXT TEXT</li>
                <li>DTEXT TEXT TEXT</li>
            </ul>

            <h3><span class="glyphicon glyphicon-calendar"></span> <u>ATEXT TEXT TEXT</u></h3>
            <p>UTEXT TEXT TEXT</p>

            <ul ID="About_list">
                <li>TEXT TEXT TEXT</li>
                <li>YTEXT TEXT TEXT</li>
            </ul>

            <h3><span class="glyphicon glyphicon-user"></span> <u>CTEXT TEXT TEXT</u></h3>
            <ul ID="About_list">
                <li>TEXT TEXT TEXT</li>
            </ul>

            <h3><span class="glyphicon glyphicon-list-alt"></span> <u>Contracting</u></h3>
            <ul ID="About_list">
                <li>TEXT TEXT TEXT</li>
            </ul>
         </div>
    </div>
</div>
</body>