<div class="container">
		<!-- row 1: navigation -->
    <div class="row">
    	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topmenu">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="glyphicon glyphicon-arrow-down"></span>
                      MENU
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="topmenu" >
                    <a class="navbar-brand" rel="home" href="/" title="Home">
                        <img  src="/images/Lease_Lion_Logo.png" style="max-height:240%; margin-top: -13px">
                    </a>
                    <ul class="nav navbar-nav">
                        <li><a href="/search">Search</a></li>
                        <li><a href="#">My Calendar</a></li>
                        <li><a href="#">Account</a></li> 
                        <li class="dropdown"><a href="#" data-toggle="dropdown">About<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href='#TEXT TEXT TEXT'>TEXT TEXT TEXT</a></li>
                                <li><a href='#TEXT TEXT TEXT'>TEXT TEXT TEXT</a></li>
                            </ul>
                        </li> 
                    </ul> 
                </div>
            </div>
        </nav> 
    </div>
</div>